<!-- <canvas *ngIf="chartData; else loadingChart" #chartCanvas width="200" height="200"></canvas>
<ng-template #loadingChart>
  <p>Loading Chart...</p>
</ng-template> -->


<!-- <canvas *ngIf="chartData?.data; else loadingChart" #chartCanvas width="200" height="200"></canvas>
<ng-template #loadingChart>
  <p>Loading Chart...</p>
</ng-template> -->




<!-- {{ chartData | json }} -->
<style>
  canvas {
    /* width: 80%; */
    /* height: 250px; */
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 100;
    /* padding: 10px; */
    /* border-radius: 50%; */
  }
</style>


  <canvas class="" #chartCanvas width="200" height="200"></canvas>
  
  

  
  




