<header class="position-relative p-1">
    <div class="container-fluid">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-2 col-4 bg-white p-1 logo-side" style="">
                <img alt="ABL Funds" loading="lazy" width="239" height="63" decoding="async" class="ABLFundslogo logo w-100"
                    src="assets/images/ABLFundslogo.ca10e8dd.svg" style="width: 100%; height: auto;">
            </div>
            <div class="col-md-1 col-2 bg-white p-1 user-side" style="">
                <img alt="ABL Digital" loading="lazy" decoding="async" class="ABLdigitallogo w-100"
                    src="assets/images/ABLdigitallogo.8c3eeae6.svg" style="width: 100%; height: auto;">
            </div>
        </div>
    </div>
</header>
