header {
    position: relative;
}

header::before, header::after {
    content: "";
    position: absolute;
    height: 2px;
    top: 75%; /* Adjust this based on your design needs */
    left: 0;
    right: 0;
    z-index: 0; /* Behind the logos */
}

header::before {
    background-color: #f06a25; /* First color */
    width: 15%; /* Adjust this width as needed */
}

header::after {
    background-color: #22417f; /* Second color */
    width: 85%; /* Adjust this width as needed */
    margin-left: auto; /* Align to the right */
}

header .container {
    position: relative; /* Ensure the logos are on top of the line */
    z-index: 1; /* Above the lines */
}


.account-title {
    display: inline-block;     /* Ensure the element can have width */
    max-width: 100%;           /* Limit the width to prevent overflow */
    width: 200px;              /* Define a fixed width */
    white-space: nowrap;       /* Prevent the text from wrapping to the next line */
    overflow: hidden;          /* Hide overflowed text */
    text-overflow: ellipsis;   /* Add ellipsis (...) when the text overflows */
}

.logo-side{
    z-index: 1; 
    width: 11.5%; 
    margin-left: 3% !important;
}
.ABLFundslogo {
	width: 100% !important;
}



@media (max-width: 768px) {

    header::before, header::after {
        content: "";
        position: absolute;
        height: 2px;
        top: 70%; /* Adjust this based on your design needs */
        left: 0;
        right: 0;
        z-index: 0; /* Behind the logos */
    }

    header .row {
        flex-direction: row; /* Keep elements in a row */
        justify-content: space-between; /* Align left and right */
        align-items: center; /* Center vertically */
    }

    header::before {
        width: 50%; /* Adjust decoration line */
    }

    header::after {
        width: 50%;
        margin-left: auto;
    }

    .btn {
        margin-bottom: 0; /* Remove extra spacing on button */
    }

    .logo
    {
        width: 100px !important;
        margin-left: -8px !important;
    }
    .user
    {
        margin-bottom: 5px !important;
    }

    .logo-side{
        z-index: 1; 
        width: 21%; 
        margin-left: 3% !important;
    }
    .ABLFundslogo {
        width: 100% !important;
    }
}





