<section class="">


    <app-header></app-header>



    <main class="mb-3">
        <div class="d-flex align-items-center justify-content-center h-100 paddingdiv" style="padding: 15px;">

            <div class="AuthenticationBody">
                <div class="row justify-content-lg-end">
                    <div class="col-lg-6">
                        <div class="card" style="border-radius: 25px;">
                            <div class="card-body">
                                <div class="AuthenticationForm">
                                    <form class="row justify-content-center needs-validation&quot; novalidate"
                                        [formGroup]="login">
                                        <h4 class="mb-2 text-center fw-bold"
                                            style="color: rgb(34, 65, 127); font-family: sans-serif; font-size: 20px;">
                                            Admin
                                            Login
                                        </h4>
                                        <div class="formgroup col-lg-8 col-10">
                                            <div class="form-label-parent">
                                                <label class="form-label" style="padding-left: 8px;">Admin</label>
                                                <span style="color: red;"> *</span>
                                            </div>
                                            <div class="password-input-container">
                                                <input placeholder="" class="form-control mb-2" type="text" value=""
                                                    name="adminId" formControlName="adminId" required="" />
                                                    <div class="text-danger text-right">
                                                        @if(login.controls['adminId'].touched &&
                                                        login.controls['adminId'].errors?.['required']) {
                                                        <span>admin id Field is required.</span>
                                                        }
                                                        @else if (login.controls['adminId'].touched &&
                                                        login.controls['adminId'].errors?.['minlength']) {
                                                        <span>Minimum 5 characters required</span>
                                                        }
                                                        @else if (login.controls['adminId'].touched &&
                                                        login.controls['adminId'].errors?.['maxlength']){
                                                        <span>Maximum 5 characters required</span>
                                                        }
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="formgroup col-lg-8 col-10">
                                            <div class="form-password-toggle">
                                                <label class="form-label" style="padding-left: 8px;">Password</label>
                                                <span style="color: red;"> *</span>
                                                <div class="input-group input-group-merge">
                                                    <input [type]="isCurrentPasswordVisible ? 'text' : 'password'"
                                                        class="form-control" id="basic-default-password32"
                                                        placeholder="" aria-describedby="basic-default-password"
                                                        name="adminPassword" formControlName="adminPassword" required="" />
                                                    <span class="input-group-text cursor-pointer"
                                                        (click)="toggleCurrentPasswordVisibility()"
                                                        id="basic-default-password">
                                                        <i
                                                            [class]="isCurrentPasswordVisible ? 'ti ti-eye' : 'ti ti-eye-off'"></i>
                                                    </span>
                                                </div>
                                                <div class="text-danger text-right">
                                                    @if(login.controls['adminPassword'].touched &&
                                                    login.controls['adminPassword'].errors?.['required']) {
                                                    <span>Password  Field is required.</span>
                                                    }
                                                    @else if (login.controls['adminPassword'].touched &&
                                                    login.controls['adminPassword'].errors?.['minlength']) {
                                                    <span>Minimum 5 characters required</span>
                                                    }
                                                    @else if (login.controls['adminPassword'].touched &&
                                                    login.controls['adminPassword'].errors?.['maxlength']){
                                                    <span>Maximum 5 characters required</span>
                                                    }
                                                </div>
                                            </div>
                                        </div>


                                        <div class="formgroup gap-2 pt-3 d-grid justify-content-end col-lg-8 col-11">
                                            <a class="" href="#"
                                                style="width: fit-content; color: #22417f; text-decoration: underline;">
                                                Forgot Password</a>
                                        </div>

                                        <div class="formgroup d-grid gap-2  my-3 col-lg-6 col-8">
                                            <button type="submit" class="btn btn-lg btn-orange" (click)="onSubmit()">LOGIN</button>
                                        </div>

                                        <div class="row my-3">
                                            <!-- <div class="formgroup d-grid mb-md-0 mb-3 col-md-12 col-12 text-center">
                                                <a href="" routerLink="/signup">
                                                    <button class="btn fs-lg-6 btn-blue" type="button">CREATE NEW ACCOUNT</button>
                                                </a>
                                            </div> -->
                                            <!-- <div class="formgroup d-grid col-md-6 col-12">
                                                <a class="" href="" routerLink="/signup">
                                                    <button class="btn fs-lg-6 btn-orange w-100" type="button">GET ONLINE
                                                        ACCESS</button>
                                                </a>
                                            </div> -->
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
    
    
</section>


    <!-- Footer (always visible) -->
    <div class="row m-0">
        <div class="col-12 p-0">
        <app-footer></app-footer>
        </div>
    </div>