

.btn-orange {
    background-color: #f06a25;
    /* width: 100%; */
    color: white;
    border: none;
    /* padding: 10px 20px; */
    border-radius: 13px;
    font-size: 16px;
    box-shadow: 0 6px 12px -2px rgba(50, 50, 93, .25), 0 3px 7px -3px rgba(0, 0, 0, .3) !important;
}




/* ************************************* tooltip ********************************************* */
.tooltip-input-container {
    position: relative;
}

/* Tooltip Container */
.tooltip-container {
    position: absolute;
    right: -20%;
    top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #B1B1B1;
    width: 32px;
    height: 32px;
  }

  
  /* Tooltip Content */
  .tooltip-content {
  position: absolute;
  top: 50%;
  right: 140%;
  transform: translateY(-50%);
  background-color:rgb(255, 255, 255);
  color: #22417f;
  border: 1px solid #FA6F57;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  z-index: 10;
  width: 230px;
  font-size: 8px;
  display: none;
 }


  /* Tooltip Content: Show on Hover */
  .tooltip-container:hover .tooltip-content {
    display: block;
  }
  
  
  /* Tooltip Content: Arrow */
  .tooltip-content::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #FA6F57; /* Arrow points to the left */
  }

  
  /* Tooltip Icon */
  .tooltip-icon img {
    display: block;
    margin: 0 auto 10px;
  }
  
  /* Tooltip Text */
  .tooltip-text b {
    font-size: 10px;
    color: #FA6F57;
  }
  
  .tooltip-text ol {
    padding-left: 20px;
    margin-top: 10px;
  }
  
  .tooltip-text ol li {
    margin-bottom: 8px;
  }  
/* ************************************* tooltip ********************************************* */


@media (max-width: 767.98px) {
    .information_Icon_new_password {
        display: none;
    }
    .tooltip-container {
        display: none;
    }
}