<section class="" style="">


    <app-header-2></app-header-2>



    <main class="mb-3">


        <div class="mt-1 mt-lg-3 container-fluid p-0">
            <div class="row m-0">
                <div class="blue-header" style="height: 35px; background-color: #22417f;">
                </div>
            </div>
        </div>



        <div class="row m-0">
            <div class="col-md-3 p-0">
                <!-- Sidebar -->
                <app-sidebar></app-sidebar>
                <!-- Sidebar -->
            </div>
            <div class="col-md-9 p-0">
                <div class="main-content">

                    <div class="row">
                        <div class="col-12 p-0">
                            <div class="card w-100 p-4">
                                <div class="card-header">
                                    <div class="row m-0 d-flex align-items-center">
                                        <div class="col-md-8 col-12 p-0">
                                            <h5>
                                                <i class="fa-solid fa-chart-line p-2 rounded-2"
                                                    style="color: #ffffff; background-color: #f06a25;"></i>
                                                <span class="table-head-title">
                                                    Portfolio Summary
                                                </span>
                                            </h5>
                                        </div>
                                        <div class="col-md-4 col-12 p-0 text-end">
                                            <input type="text" class="form-control" placeholder="Search..."
                                                (input)="filterPortfolio($event)">
                                        </div>
                                    </div>
                                </div>

                                <div class="table-responsive w-100" style="height: max-content;">
                                    <table class="table table-sm">
                                        <thead class="" style="background-color: #22417f;">
                                            <tr class="">
                                                <th class="">
                                                    <div class="btn-group">
                                                        <div type="button" class="btn-xs fw-bold user">
                                                            <span class="account-title"
                                                                (click)="sortData('fundName', 'string')">
                                                                FUND NAME
                                                            </span>
                                                            <span *ngIf="sortKey === 'fundName'">
                                                                <i class="fa"
                                                                    [ngClass]="sortOrder === 'asc' ? 'fa-arrow-up' : 'fa-arrow-down'"></i>
                                                            </span>
                                                            <span *ngIf="sortKey !== 'fundName'">
                                                                <i class="fa fa-arrow-up-arrow-down"></i>
                                                            </span>
                                                        </div>
                                                        <i class="fa-solid fa-filter ms-2" data-bs-toggle="dropdown"
                                                            aria-expanded="false"
                                                            style="font-size: 15px; color: #ffffff; cursor: pointer;"></i>
                                                        <ul class="dropdown-menu">
                                                            <li><a class="dropdown-item" href="javascript:void(0);"
                                                                    (click)="setFilter('All')">All Funds</a></li>
                                                            <li *ngFor="let fund of fundList; let i = index">
                                                                <a class="dropdown-item" href="javascript:void(0);"
                                                                    (click)="setFilter(fund)">{{ fund }}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </th>
                                                <th class="" (click)="sortData('navDate', 'date')">
                                                    NAV DATE
                                                    <span *ngIf="sortKey === 'navDate'">
                                                        <i class="fa"
                                                            [ngClass]="sortOrder === 'asc' ? 'fa-arrow-up' : 'fa-arrow-down'"></i>
                                                    </span>
                                                    <span *ngIf="sortKey !== 'navDate'">
                                                        <i class="fa fa-arrow-up-arrow-down"></i>
                                                    </span>
                                                </th>
                                                <th class="text-end" (click)="sortData('navPrice', 'number')">
                                                    NAV (Rs.)
                                                    <span *ngIf="sortKey === 'navPrice'">
                                                        <i class="fa"
                                                            [ngClass]="sortOrder === 'asc' ? 'fa-arrow-up' : 'fa-arrow-down'"></i>
                                                    </span>
                                                    <span *ngIf="sortKey !== 'navPrice'">
                                                        <i class="fa fa-arrow-up-arrow-down"></i>
                                                    </span>
                                                </th>
                                                <th class="text-end" (click)="sortData('availableUnits', 'number')">
                                                    No. of Units
                                                    <span *ngIf="sortKey === 'availableUnits'">
                                                        <i class="fa"
                                                            [ngClass]="sortOrder === 'asc' ? 'fa-arrow-up' : 'fa-arrow-down'"></i>
                                                    </span>
                                                    <span *ngIf="sortKey !== 'availableUnits'">
                                                        <i class="fa fa-arrow-up-arrow-down"></i>
                                                    </span>
                                                </th>
                                                <th class="text-end" (click)="sortData('availableAmount', 'number')">
                                                    INVESTMENT VALUE (Rs.)
                                                    <span *ngIf="sortKey === 'availableAmount'">
                                                        <i class="fa"
                                                            [ngClass]="sortOrder === 'asc' ? 'fa-arrow-up' : 'fa-arrow-down'"></i>
                                                    </span>
                                                    <span *ngIf="sortKey !== 'availableAmount'">
                                                        <i class="fa fa-arrow-up-arrow-down"></i>
                                                    </span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-border-bottom-0" style="font-size: 10px;">
                                            <tr *ngIf="portfolioAllocation.length === 0">
                                                <td colspan="5" class="text-center">No data available</td>
                                            </tr>
                                            <tr *ngFor="let allocation of portfolioAllocation"
                                                class="border border-secondary border-bottom border-start-0 border-end-0">
                                                <td>{{ allocation.fundName }}</td>
                                                <td>{{ allocation.navDate | date:'MM/dd/yyyy' }}</td>
                                                <td class="text-end">{{ allocation.navPrice  | number:'1.4-4'}}</td>
                                                <td class="text-end">{{ allocation.availableUnits | number:'1.4-4' }}</td>
                                                <td class="text-end">{{ allocation.availableAmount | number:'1.2-2'}}
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot class="" style="background-color: #f06a25;">
                                            <tr class="">
                                                <td colspan="4"
                                                    class="fw-bold text-end text-white totalInvestmentValue">
                                                    Total Investment Value (Rs.):
                                                </td>
                                                <td class="fw-bold text-white text-end totalInvestmentValue">
                                                    {{ totalBalanceAmount | number:'1.2-2'}}
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </main>




</section>

<!-- Footer2 (always visible) -->
<div class="row m-0">
    <div class="col-12 p-0">
        <app-footer2></app-footer2>
    </div>
</div>