section {
    background: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    overflow: auto; /* Ensure content scrolls if needed */
}

.heading-title {
    font-size: 34px;
    font-weight: 600;
    color: #22417f;
    margin-bottom: 20px;
}

.btn-blue {
    background-color: transparent !important;
    color: #22417f;
    border: none;
    font-size: 16px;
}



.custom-link {
    display: flex;
    align-items: center;
    color: #22417f;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 0;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.custom-link:hover {
    color: #F06A25;
    text-decoration: none;
    transform: translateX(5px);
}

.custom-link i {
    margin-left: 8px;
    font-size: 14px;
    transition: transform 0.3s ease-in-out;
}

.custom-link:hover i {
    /* transform: rotate(45deg); */
}

/* Adding a subtle underline effect */
.custom-link::after {
    content: "";
    width: 0%;
    height: 2.2px;
    background: #F06A25;
    position: absolute;
    left: 27px;
    bottom: -3px;
    transition: width 0.5s ease-in-out;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -ms-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
}

.custom-link:hover::after {
    width: 100%;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .custom-link {
        font-size: 14px;
    }
}



/* Stylish Collapse Button */
.btn-toggle {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #22417f;
    color: white;
    border: none;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn-toggle:hover {
    background-color: #1b3467;
}

.btn-toggle i {
    transition: transform 0.3s;
}

/* Rotate icon when expanded */
[aria-expanded="true"] .fa-chevron-down {
    transform: rotate(180deg);
}

/* Table Container */
.table-container {
    padding: 10px;
    background: #f8f9fa;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

/* Table Styling */
table {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

thead tr th {
    background-color: #22417f;
    color: white !important;
    font-size: 14px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f0f3f7;
}

tbody tr:hover {
    background-color: #dde6f0;
    transition: 0.2s ease-in-out;
}

@media (max-width: 768px) {
    .card
    {
        width: 100% !important;
    }
    .col-btn-group
    {
        padding: 0px !important;
        margin-top: 20px !important;
    }
    .div-form-label-account
    {
        display: flex;
        justify-content: start !important;
    }
}