<section class="">


    <app-header></app-header>



    <main class="mb-3">
        <div class="d-flex align-items-center justify-content-center h-100 paddingdiv" style="padding: 15px;">

            <div class="AuthenticationBody">
                <div class="row justify-content-lg-end">
                    <div class="col-lg-6">
                        <div class="card" style="border-radius: 25px;">
                            <div class="card-body">
                                <div class="AuthenticationForm">
                                    <form class="row justify-content-center needs-validation&quot; novalidate"
                                        [formGroup]="signup">
                                        <h4 class="mb-2 text-center fw-bold"
                                            style="color: rgb(34, 65, 127); font-size: 20px;">
                                            Sign Up With Us
                                        </h4>
                                        <div class="formgroup col-lg-8 col-10">
                                            <div class="form-label-parent">
                                                <label class="form-label" style="padding-left: 8px;">Folio No:</label>
                                                <span style="color: red;"> *</span>
                                            </div>
                                            <div class="password-input-container">
                                                <input placeholder="" class="form-control mb-2" type="text" value=""
                                                    name="folio" formControlName="folio" required="" />
                                                <div class="text-danger text-right">
                                                    @if(signup.controls['folio'].touched &&
                                                    signup.controls['folio'].errors?.['required']) {
                                                    <span>folio Field is required.</span>
                                                    }
                                                    @else if (signup.controls['folio'].touched &&
                                                    signup.controls['folio'].errors?.['minlength']) {
                                                    <span>Minimum 5 characters required</span>
                                                    }
                                                    @else if (signup.controls['folio'].touched &&
                                                    signup.controls['folio'].errors?.['maxlength']){
                                                    <span>Maximum 5 characters required</span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="formgroup col-lg-8 col-10">
                                            <div class="form-label-parent">
                                                <label class="form-label" style="padding-left: 8px;">Mobile:</label>
                                                <span style="color: red;"> *</span>
                                            </div>
                                            <div class="tooltip-input-container">
                                                <input placeholder="" class="form-control mb-2" type="text" value=""
                                                    name="mobileNumber" formControlName="mobileNumber" required="" />
                                                <div class="text-danger text-right">
                                                    @if(signup.controls['mobileNumber'].touched &&
                                                    signup.controls['mobileNumber'].errors?.['required']) {
                                                    <span>mobileNumber Field is required.</span>
                                                    }
                                                    @else if (signup.controls['mobileNumber'].touched &&
                                                    signup.controls['mobileNumber'].errors?.['minlength']) {
                                                    <span>Minimum 5 characters required</span>
                                                    }
                                                    @else if (signup.controls['mobileNumber'].touched &&
                                                    signup.controls['mobileNumber'].errors?.['maxlength']){
                                                    <span>Maximum 5 characters required</span>
                                                    }
                                                </div>
                                                <!-- Button Trigger for Tooltip -->
                                                <div class="tooltip-container">
                                                    <i class="ti ti-info-circle" style="color: #f56302"></i>
                                                    <div class="tooltip-content">
                                                        <!-- <div class="tooltip-icon">
                                                        <img src="https://img.icons8.com/ios-glyphs/30/FA6F57/info.png" alt="info">
                                                        </div> -->
                                                        <div class="tooltip-text">
                                                        <b>Local Pakistani Phone Numbers:</b>
                                                        <ol>
                                                            <li>Must start with a valid area code.</li>
                                                            <li>Should be 11 digits long.</li>
                                                            <li>Format: 03XXXXXXXXX (e.g., 03012345678).</li>
                                                        </ol>
                                                        <b>International Phone Numbers:</b>
                                                        <ol>
                                                            <li>Must include the country code.</li>
                                                            <li>Should be up to 15 digits long.</li>
                                                            <li>Format: CountryCodeAreaCodeLocalNumber (e.g., 123456789012345 for a US number).</li>
                                                        </ol>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="formgroup col-lg-8 col-10">
                                            <div class="form-label-parent">
                                                <label class="form-label" style="padding-left: 8px;">Email:</label>
                                                <span style="color: red;"> *</span>
                                            </div>
                                            <div class="password-input-container">
                                                <input placeholder="" class="form-control mb-2" type="email" value=""
                                                    name="email" formControlName="email" required="" />
                                                <div class="text-danger text-right">
                                                    @if(signup.controls['email'].touched &&
                                                    signup.controls['email'].errors?.['required']) {
                                                    <span>Email Field is required.</span>
                                                    }
                                                    @else if (signup.controls['email'].touched &&
                                                    signup.controls['email'].errors?.['minlength']) {
                                                    <span>Minimum 5 characters required</span>
                                                    }
                                                    @else if (signup.controls['email'].touched &&
                                                    signup.controls['email'].errors?.['maxlength']){
                                                    <span>Maximum 5 characters required</span>
                                                    }
                                                </div>
                                            </div>

                                        </div>

                                        <div class="formgroup d-grid gap-2  my-3 col-lg-6 col-8">                                            
                                            <button type="submit" class="btn btn-lg btn-orange" (click)="onSubmit()">CONTINUE</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>



    <!-- Footer (always visible) -->
    <div class="row m-0">
        <div class="col-12 p-0">
        <app-footer></app-footer>
        </div>
    </div>


</section>