section {
    background: #fff;
    min-height: 77vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    overflow: auto; /* Ensure content scrolls if needed */
}

.heading-title {
    font-size: 34px;
    font-weight: 600;
    color: #22417f;
    margin-bottom: 20px;
}

.btn-blue {
    background-color: transparent !important;
    color: blue;
    border: none;
    font-size: 14px;
    font-weight: bold;
}
.btn-blue:hover {
    color: #F06A25;
}





/* Stylish Collapse Button */
.btn-toggle {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #22417f;
    color: white;
    border: none;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn-toggle:hover {
    background-color: #1b3467;
}

.btn-toggle i {
    transition: transform 0.3s;
}

/* Rotate icon when expanded */
[aria-expanded="true"] .fa-chevron-down {
    transform: rotate(180deg);
}

/* Table Container */
.table-container {
    padding: 10px;
    background: #f8f9fa;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

/* Table Styling */
table {
    width: 100%;
    overflow: hidden;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.table-bordered {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #969aa161;
}

thead tr th {
    background-color: #22417f;
    color: white !important;
    font-size: 14px;
    text-align: start;
}

tbody tr {
    font-size: 14px;
    background-color: #f0f3f7;
}

thead tr .center_data {
    text-align: center !important;
}
tbody tr .center_data {
    text-align: center !important;
}
/* thead tr th:nth-child(2) {
    text-align: start;
}
tbody tr td:nth-child(2) {
    text-align: start;
} */


@media (max-width: 768px) {
    .card
    {
        width: 100% !important;
    }
    .col-btn-group
    {
        padding: 0px !important;
        margin-top: 20px !important;
    }
    .div-form-label-account
    {
        display: flex;
        justify-content: start !important;
    }
}